.content {
    background: #ffff;
}

.container-car-detail {
    /* background: #ECEDF2; */
    height: 115vh;
    width: 100%;
    overflow: hidden;
}

.car-detail-img {
    width: 65vh;
    height: 43vh;
    object-fit: cover;
    margin-left: 2px;
}

.spacing-imgs {
    margin-top: .2vh;
    position: relative;
}


.slick-prev,
.slick-next {
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    padding: 10px;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;
    opacity: .50;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 5vh;
}

.car-detail-info {
    position: absolute;
    top: 62%;
    left: 20vh;
    display: flex;
    flex-direction: row;
    /* background-color: #4A4A4A;    */
}

.left-side-car-detail {
    border-radius: 15px 0px 0px 0px;
    background: #ffff;
    width: 105vh;
    height: auto;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
    padding: 5vh;
}

.right-side-car-detail {
    border-radius: 0px 15px 0px 0px;
    background: #ffff;
    width: 50vh;
    height: 75vh;
    margin-left: 2vh;
    padding: 2vh;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
}

.title-with-highlight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.car-detail-description-section {
    margin-top: 0.5vh;
}

.car-detail-description {
    margin-top: 2vh;
    text-align: justify;
}

.car-title {
    color: #000000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-color {
    color: #256417;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.car-description {
    top: 20%;
    margin-top: -1.5vh;
    margin-left: 3vh;
    color: #000000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.car-details-info-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.car-details-info-2 div {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

.car-details-info-2 div p {
    margin-left: .5vh;
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.car-details-info-2 div h1 {
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.car-details-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.car-details-table th,
.car-details-table td {
    padding: 8px;
    text-align: left;
    border: none;
}

.car-details-table th {
    /* color: #333; */
    font-weight: 400;
    color: #696977;
    width: 33.33%;
}

.car-details-table td {
    font-weight: bold;
    /* color: #333; */
    color: #2e2d37;
    width: 33.33%;
}



.car-detail-divider {
    margin-top: 3vh;
    background: #CAC4D0;
    width: 798px;
    height: 1px;
    border: none;
}

.items-table {
    width: 100%;
    margin-top: 10px;
}

.items-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.item-cell {
    flex: 1;
    text-align: left;
    font-size: 14px;
    color: #333;
    padding: 5px;
}

.item-cell.empty {
    visibility: hidden;
}


.items-table-mobile {
    width: 100%;
    margin-top: 10px;
}

.item-cell-mobile {
    font-size: 14px;
    color: #333;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}


.highlight-button {
    color: #FFF;
    font-family: Poppins;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 15px;
    width: 174px;
    height: 33px;
    flex-shrink: 0;
    border: 1px solid #002E5D;
    background: rgba(0, 46, 93, 0.43);
}

.car-detail-price {
    color: #000000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.car-detail-price-description {
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -1vh;
}

.car-detail-divider-right-side {
    width: 431px;
    height: 1px;
    border: none;
    margin-top: 1vh;
    background: #CAC4D0;
}

.car-detail-vendor {
    margin-top: .5vh;
    color: #000000;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-whats {
    width: 45vh;
    height: 6%;
    border-radius: 7px;
    background: #2DB05E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
}

.button-whats:hover {
    background: #30503A;
}

.button-whats img {
    width: 37.651px;
    height: 41px;
}

.whats {
    margin-left: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.whats p {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
}

.whats h1 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.m-3 {
    margin-top: 3vh;
}

a {
    text-decoration: none;
}

.ob-camps {
    color: #000000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.red {
    color: red;
}

.error {
    display: flex;
    color: red;
    font-size: 12px;
    margin-top: -15px;
}

.button-send-message {
    border-radius: 7px;
    background: #002E5D;
    width: 45vh;
    height: 7vh;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    border: none;
}

.button-send-message:hover {
    background: #084298;
}

.optional-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2vh;
    margin-top: 3vh;
}

.others-cars {
    margin: 5vh;
    margin-top: 35vh;
}


.configure-others-cars {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.back-to-stock {
    margin: 1.5vh;
    color: #ffff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 1vh;
    width: 25vh;
    height: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #002E5D;
    border: none;
    border-radius: 1vh;
}

.back-to-stock img {
    width: 1.5vh;
    height: 1.5vh;
    margin-right: 1vh;
}

@media (max-width: 768px) {
    .back-to-stock {
        width: 42vh;
        height: 6vh;
        font-style: normal;
        font-weight: 300;
    }

    .car-detail-img {
        width: 100%;
        height: 35vh;
        object-fit: contain;
        margin: 0;
        padding: 0;
    }

    .container-car-detail {
        padding: 2vh;
        height: auto;
    }

    .car-title {

        font-size: 24px;
    }

    .title-color {
        font-size: 24px;
    }

    .car-detail-vendor {
        font-size: 16px;
    }

    .button-whats {
        width: 100%;
    }

    .button-send-message {
        width: 100%;
        border: none;
    }

    .resumed {
        margin-top: 1vh;
    }

    .divider-2 {
        margin-top: 1vh;
    }

    .others-cars {
        margin: 0;
        margin-top: 2vh;
    }
}

.content-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    overflow: hidden;
    background-color: white;
}

.container-information-mobile {
    margin-top: 0.2vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    width: 100%;
    justify-items: center;
    /* height: 100vh; */
}

.item {
    height: 8vh;
    width: 100%;
    border-bottom: 1px solid #CAC4D0;
}

.item-esquerdo {
    height: 8vh;
    width: 100%;
    border-bottom: 1px solid #CAC4D0;
    border-right: 1px solid #CAC4D0;
}

.item-esquerdo h1,
p {
    font-size: 16px;
    margin-left: 1vh;
}

.item h1,
p {
    font-size: 16px;
    margin-left: 1vh;
}

.vertical-hr {
    width: 1px;
    height: 100%;
    background-color: #CAC4D0;
}

.optional-item {
    font-size: 18px;
    text-align: center;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .container-car-detail {
        height: auto;
        padding: 3vh;
    }

    .car-detail-img {
        width: 50vh;
        height: 35vh;
    }

    .car-detail-info {
        top: 55%;
        left: 15vh;
        flex-direction: row;
    }

    .left-side-car-detail {
        width: 80vh;
        padding: 3vh;
    }

    .right-side-car-detail {
        width: 40vh;
        height: 65vh;
        margin-left: 1.5vh;
        padding: 1.5vh;
    }

    .car-title {
        font-size: 36px;
    }

    .title-color {
        font-size: 36px;
    }

    .car-description {
        font-size: 14px;
        margin-left: 2vh;
    }

    .car-details-info-2 div p {
        font-size: 14px;
    }

    .car-details-info-2 div h1 {
        font-size: 14px;
    }

    .car-details-table th {
        font-size: 14px;
    }

    .car-details-table td {
        font-size: 14px;
    }

    .car-detail-divider {
        width: 600px;
    }

    .car-detail-price {
        font-size: 36px;
    }

    .car-detail-price-description {
        font-size: 14px;
    }

    .car-detail-vendor {
        font-size: 18px;
    }

    .button-whats {
        width: 35vh;
        height: 5%;
    }

    .button-send-message {
        width: 35vh;
        height: 6vh;
        font-size: 20px;
    }

    .optional-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5vh;
    }

    .others-cars {
        margin: 3vh;
        margin-top: 25vh;
    }

    .back-to-stock {
        width: 20vh;
        height: 3.5vh;
        font-size: 14px;
    }

    .back-to-stock img {
        width: 1.2vh;
        height: 1.2vh;
    }

    .slick-prev {
        left: 8px;
    }

    .slick-next {
        right: 4vh;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 30px;
    }
}