/* GenericSelect.css */

.select-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 16px 0;
    font-family: 'Alexandria', sans-serif;
}

.div-label {
    margin-bottom: 2px;
}

.select-label {
    font-size: 0.67em;
    font-weight: bold;
    color: #000;
    font-family: 'Alexandria';
}

.select {
    padding: 10px 14px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    appearance: none;
    /* remove estilo nativo em alguns navegadores */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
    outline: none;
}

.select:disabled {
    background-color: #f0f0f0;
    color: #999;
    cursor: not-allowed;
}


.option-placeholder {
    color: #888;
    font-style: italic;
}

option {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 8px;
}

/* Adicional: responsividade para telas menores */
@media (max-width: 600px) {
    .select {
        font-size: 14px;
        padding: 8px 12px;
    }

    .select-label {
        font-size: 15px;
    }
}