.card-cars {
    display: flex;
    flex-direction: column;
    margin: 2%;
    min-width: 16vw;
    max-width: 16vw;
    height: fit-content;
    background-color: #fffffc;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.315);
    border-radius: 8px;
    border: 2px solid #edecf2;

}

.card-cars img {
    border-top: 8px;
    width: 100%;
}

.card-img {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.txt-card-cars {
    padding: 2% 5% 5%;
    text-align: left;
}

.txt-card-cars h1 {
    color: #2e2d37;
    font-size: 1.2em;
    margin-bottom: 2%;
}

.valor-card-cars {
    margin-top: 10px;
    color: #2e2d37 !important;
    font-size: 1.2em !important;
    font-weight: 700 !important;
    font-family: 'Figtree', sans-serif !important;
}

.txt-card-cars p {
    color: #696977;
    font-size: 1.05em;
    margin-bottom: 1%;
}


.btn-detalhes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-card-cars {
    padding: 0.9em 1.1em;
    background-color: gray;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Alexandria';
    color: white;
    border-style: none;
    border-radius: 0.2em;
    margin-top: 2%;
    cursor: pointer;
    width: 100%;
}

.botao-card-cars:hover {
    background-color: rgb(211, 211, 211);
    color: black;
}

@media screen and (max-width: 1024px) {
    .card-cars {
        min-width: 30vw;
        max-width: 32vw;
        margin: 3%;
    }

    .txt-card-cars h1 {
        font-size: 1.3em;
    }

    .txt-card-cars p {
        font-size: 0.95em;
    }

    .botao-card-cars {
        padding: 0.8em 1em;
        font-size: 0.9em;
    }

    .card-img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .card-cars {
        min-width: 80vw;
        max-width: 85vw;
        margin: 4% auto;
    }

    .txt-card-cars {
        padding: 3% 6% 6%;
    }

    .txt-card-cars h1 {
        font-size: 1.2em;
    }

    .txt-card-cars p {
        font-size: 0.9em;
    }

    .botao-card-cars {
        padding: 0.7em 0.9em;
        font-size: 0.85em;
        right: 10%;
    }

    .card-img {
        width: 100%;
        height: auto;
    }
}