.container-stock {
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 2vh;
}

.left-side-stock {
    width: 20%;
    background: var(--cor-filtro);
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
    display: flex;
    flex-direction: column;
    padding: 2vh;
    overflow-y: auto;
    height: 90vh;
}

.right-side-stock {
    width: 80%;
    padding-left: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.title-filters {
    color: #000;
    font-family: 'Alexandria', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.filters {
    max-height: 80vh;
    padding: 2vh 0vh 0vh 1vh;
    overflow-y: auto;
    padding-right: 10px;
}

.filter-opening-mobile {
    display: none;
}

.filters::-webkit-scrollbar {
    width: 8px;
}

.filters::-webkit-scrollbar {
    width: 4px;
}

.filters::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 4px;
}

.filters::-webkit-scrollbar-track {
    background-color: #1E1E1E;
}

.container-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 0px;
}





@media (max-width: 768px) {
    .container-stock {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .left-side-stock {
        width: 100%;
    }

    .right-side-stock {
        width: 100%;
    }

    .input-search {
        width: 100%;
    }

    .left-side-stock {
        width: 93%;
    }

    .filters {
        max-height: 80vh;
        max-height: auto;
        overflow-x: none;
    }

    .filters::-webkit-scrollbar {
        width: 4px;
    }

    .filters::-webkit-scrollbar-thumb {
        background-color: #303030;
        border-radius: 4px;
    }

    .filters::-webkit-scrollbar-track {
        background-color: #1E1E1E;
    }

    .container-stock {
        overflow: hidden;
    }

    .filter-opening-mobile {
        display: flex;
        align-items: center;
    }

    .filter-icon {
        width: 2vh;
        height: 2vh;
    }

    .filter-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        width: 40vh;
        height: 5vh;
        border: none;
        background-color: #002E5D;
        margin-bottom: 1vh;
        color: #ffff;
        margin: 1.5vh;
        font-family: 'Alexandria', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 1vh;
    }

    .filter-button span {
        margin-left: 12px;
        color: #FFF;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .deactivate-filter {
        display: none;
    }
}