.container{
    max-width: 100px;
    background-color: #1AC420;
    padding: 20px 0;
    border-radius: 30px;
    text-align: center;
}

.contato {
    color: #fff;
    max-width: 150px;
    background-color: #1AC420;
    padding: 10px 5px;
    border-radius: 30px;
    text-align: center;
    font-weight: 300;
}
