.choice {
    margin-top: 15px;
}

.container-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 5px;
    margin-top: 5px;

}

.button-default-left {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    border: 1px solid #303030;
    color: #fff;
    background-color: #303030;
    cursor: pointer;
    transition: background-color 0.5s;
}

.button-default-left:hover {
    border: 1px solid #17F54B;
    background-color: #09750173;
    transition: background-color 0.5s;
}

.button-default-rigth {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    color: #fff;
    border: 1px solid #303030;
    background-color: #303030;
    cursor: pointer;
    transition: background-color 0.5s;
}

.button-default-rigth:hover {
    border: 1px solid #9D0505;
    background-color: #63020447;
    transition: background-color 0.5s;
}

.button-true {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    border: 1px solid #17F54B;
    color: #fff;
    background-color: #09750173;
    cursor: pointer;
    transition: background-color 0.5s;
}

.button-false {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    border: 1px solid #9D0505;
    color: #fff;
    background-color: #63020447;
    cursor: pointer;
    transition: background-color 0.5s;
}

.generic-label {
    font-size: 20px;
    color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
}