@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --cor-fundo: #FBFBFF;
  --cor-filtro: #E2E2E2;
  --cor-filtro-checked: #029A11;
  --cor-header: #002411;
  --cor-cards: #E2E2E2;
  --cor-cards-detalhes: #666464;
  --cor-footer: #002411;
  --cor-login: #1D1D1D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body,
html {
  margin: 0;
  padding: 0;
  font-family: "Alexandria", sans-serif;
  font-weight: 400;
  background-color: var(--cor-fundo);
}

.swal2-container {
  z-index: 99999 !important;
}

.header-list {
  margin-top: 3vh;
  z-index: 999999;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.text-header {
  font-family: "Alexandria", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: left;
  color: var(--cor-header);
}

.title {
  color: #000;
  font-family: Alexandria;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content-list {
  width: 100%;
  margin: 0 1vh 0 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-and-include {
  width: 100%;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
}

.search input {
  width: 691px;
  height: 40px;
  border-radius: 9px 0px 0px 9px;
  background: #D9D9D9;
  border: none;
  padding: 0.5rem;
}

.search input:focus {
  outline: none;
}

.search input::placeholder {
  color: #000;
  font-family: Alexandria;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search button {
  width: 40px;
  height: 40px;
  border-radius: 0px 9px 9px 0px;
  background: #0E172F;
  border: none;
}

.button-include {
  width: 271px;
  height: 40px;
  border-radius: 7px;
  display: flex;
  padding-left: 22px;
  justify-content: center;
  background: #0A301C;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Alexandria;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &:hover {
    background: #156138;
  }

  &:active {
    background: #0A301C;
  }
}

.header-table {
  padding: 10px 20px;
  border-bottom: 2px solid #256417;
  background: #1E1E1E;
  flex-shrink: 0;
  color: #FFF;
  font-family: Alexandria;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  border-right: 2px solid #000;
}

.btn-edit {
  width: 72px;
  height: 22px;
  border-radius: 5px;
  background: #060523;
  border: none;
  color: #FFF;
  font-family: Alexandria;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-edit:hover {
  background: #0A301C;
}

.btn-delete {
  width: 72px;
  height: 22px;
  border-radius: 5px;
  background: #AC1A06;
  flex-shrink: 0;
  border: none;
  color: #FFF;
  font-family: Alexandria;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.btn-delete:hover {
  background: #D32F2F;
}

.body-table {
  height: 3vh;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;

  text-align: center;
}

.espacing-table {
  margin-top: 3vh;
}

.even-row {
  background-color: #f9f9f9 !important;
}

.odd-row {
  background-color: #ffffff !important;
}